.paesani-about-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color1);
    border-left: 5px solid var(--color3);
    padding-left: 10px;
    margin-bottom: 30px;
  }
  
  .paesani-about-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
  }