.card {
    background-color: transparent;
    width: 270px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
}

.card-img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 24px;
    background-color: var(--color1);
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
}

.card-info p {
    font-size: 0.7rem;
    line-height: 1.5;
    margin-bottom: 24px;
    opacity: 0.8;
}

.play-btn {
    padding: 10px 10px;
    background-color: var(--color2);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    transition: background-color 0.2s, transform 0.2s;
    margin-top: auto;
}

.play-btn:hover {
    background-color: var(--color3);
    transform: scale(1.02);
}

.play-btn:active {
    transform: scale(0.98);
}

.about-card {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #949294;
    width: 375px;
    height: 300px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    cursor: default
}

.about-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px #89bce6b6;
    border-color: #89bce6b6;
}

.about-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 24px;
    width: 50px;
    height: 50px;
    background-color: #89bce6b6;
    border-radius: 10px;
}

.about-card-info {
    padding: 24px;
    color: white;
    border-radius: 0 0 24px 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-card-info h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color2);
}

.about-card-info p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 24px;
    opacity: 0.8;
    color: #6d6d6d;
}