.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;
  margin-top: 100px;
}

.paesani-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  text-align: center;
  gap: 20px;
}

.paesani-home-container h1 {
  font-size: 3.7rem;
  width: 70%;
  font-weight: 700;
  color: var(--color1);
}

.paesani-home-container h3 {
  font-size: 1.1rem;
  font-weight: 500;
  width: 50%;
  color: var(--color2);
  margin: 0;
}

.paesani-home-container .paesani-home-nav-buttons {
  display: flex;
  margin-top: 8px;
  gap: 20px;
}

.Toastify__progress-bar--success {
  background: var(--color2) !important;
}

footer {
  margin-top: 50px;
}